import("beeswarm", "stringr", "qvalue", "scales", "roxygen2")
# This package is used but missing and will need to be added djvMixedIC50

# export will need to be filled with the relevant functions
export() 
